extends ../layout/layout

block header-content
  h1
    i.fas.fa-sticky-note
    span
      a(href="/accueil").a-no-color Accueil
    span Babillard
  +actions-section

block content
  +navbar
  +page-cover
  .container.h-100
    h1 Notes
    br
    .row
      each post in posts
        .col.mb-4
          .card.card-body.p-0.billboardCardSize
            .position-relative
              button.btn-postit.cover-image(id=post.id type="button" data-toggle="modal" style="background-image: url('/assets/test-banner.jpg');")
                .over-div.position-relative
                  .position-absolute.over-corner.flex-column
                  .row
                    .col.text-center.text-posthead
                      p=post.datetime
                    //.col.text-right.text-posthead
                      p=post.user.firstName +" "+ post.user.lastName
                  .text-center.text-white.mb-3.ml-2.mr-2
                    h5=post.title
                  .pb-5
              .black-filter
              .dot-filter
        .modal.fade(id="postNo"+post.id tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content(style="background-image: url('/assets/test-banner.jpg');")
              .over-div.position-relative
                .position-absolute.over-corner.flex-column
                .text-center.text-white.mb-3.ml-2.mr-2.pt-2
                  h5=post.title
                  br
                  p=post.content
                  .ml-4
                    .row.text-posthead
                      .col-1
                        i.fas.fa-clock
                      p=post.datetime
                    .row.text-posthead
                      .col-1
                        i.fas.fa-user
                      p=post.user.firstName + " " + post.user.lastName
                    .row.text-posthead
                      .col-1
                        i.fas.fa-phone
                      p=post.user.cellPhoneNumber
                    .row.text-posthead
                      .col-1
                        i.fas.fa-envelope
                      p=post.user.email
                    each home in post.user.home
                      .row.text-posthead
                        .col-1
                          i.fas.fa-map-marker-alt
                        p=home.address
              .black-filter
              .dot-filter
  #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content(style="background-image: url('/assets/test-banner.jpg');")
        .over-div.position-relative
          .position-absolute.over-corner.flex-column
          br
          .text-center.text-white.mb-3.ml-2.mr-2
            h5 Allo
          .pb-5
        .black-filter
        .dot-filter
  #addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content(style="background-image: url('/assets/test-banner.jpg');")
        .over-div.position-relative
          .position-absolute.over-corner.flex-column
          br
          form.form(method="POST", action="/babillard/creation")
            .row.mx-2
              .col
                .form-group
                  .form-group
                    label Titre de la publication
                    input.form-control(type='text' name="title")
            .row.mx-2
              .col
                .form-group
                  .form-group
                    label Description
                    textarea(name="content").form-control
            button.ml-4.btn.btn-light(type="submit") Créer
          .pb-5
        .black-filter
        .dot-filter

  script(nonce=nonce()).
    $(".btn-postit").on("click", function () {
        var modal = "#postNo"+$(this)[0].id;
        var btn = this;
        $(modal).modal("show");
        $(this).parent().find('.black-filter').css('opacity', 0);
        $(this).parent().find('.dot-filter').css('opacity', 0);
        $(this).css('opacity', 0);

        $(modal).on("hide.bs.modal", function (e) {
            $(btn).parent().find('.black-filter').css('opacity', 0.7);
            $(btn).parent().find('.dot-filter').css('opacity', 0.5);
            $(btn).css('opacity', 1);
            $(btn).css('background-image', 'url(/assets/test-banner.jpg)');
        });
    })

