extends layout/layout

block header-content
  h1
    i.fas.fa-home
    span Accueil


block content
  +navbar
  +page-cover
  .container.h-100
    .row
      .col-3.offset-9
        #weather.row.card.shadow
          .d-inline-flex.flex-row.h-100
            img(src=weather.image).mr-2.ml-3
            .vertical-line.mt-2.mb-2
            .d-flex.flex-column.w-100.text-center.mt-1
              span=weather.name
              .d-flex.flex-row.w-100.justify-content-around.mt-2
                .flex-column
                  i.fa.fa-temperature-high
                  span #{format('decimal',weather.main.temp-273.15, 0)}°C
                .flex-column
                  i.fa.fa-temperature-low
                  span #{weather.main.humidity};
    h1 Surveillance de la crue des eaux
    br
    br
    table.table
      thead
        tr
          th Plan d'eau
          th Lieu d'observation
          th État
          th Tendance
          th Variable hydrologique
          th SIM
          th Dernière mesure
          th Numéro de station
      tbody
        each row in surveillance
          tr
            td=row.water
            td=row.lieu
            td=row.state
            td=row.tendency
            td=row.variable
            td=row.sim
            td=row.lastMeasure
            td=row.number
    br
    br
    h1 Carte interactive
    br
    br
    iframe(name="map" id="map" src="https://geoinondations.gouv.qc.ca/" width="100%" height="100%")
    br
    br
    br




